In [1]:
# %load Extract_MovieLens_Data.py


# # This notebook is to extract data from Movie Lens
# * The data contents are explained in http://files.grouplens.org/papers/ml-1m-README.txt
# 
# ## users.dat
# 
# UserID::Gender::Age::Occupation::Zip-code
# - Gender is denoted by a "M" for male and "F" for female
# - Age is chosen from the following ranges:
# 
# 	*  1:  "Under 18"
# 	* 18:  "18-24"
# 	* 25:  "25-34"
# 	* 35:  "35-44"
# 	* 45:  "45-49"
# 	* 50:  "50-55"
# 	* 56:  "56+"
# 
# - Occupation is chosen from the following choices:
# 
# 	*  0:  "other" or not specified
# 	*  1:  "academic/educator"
# 	*  2:  "artist"
# 	*  3:  "clerical/admin"
# 	*  4:  "college/grad student"
# 	*  5:  "customer service"
# 	*  6:  "doctor/health care"
# 	*  7:  "executive/managerial"
# 	*  8:  "farmer"
# 	*  9:  "homemaker"
# 	* 10:  "K-12 student"
# 	* 11:  "lawyer"
# 	* 12:  "programmer"
# 	* 13:  "retired"
# 	* 14:  "sales/marketing"
# 	* 15:  "scientist"
# 	* 16:  "self-employed"
# 	* 17:  "technician/engineer"
# 	* 18:  "tradesman/craftsman"
# 	* 19:  "unemployed"
# 	* 20:  "writer"
# 
# ## movies.dat
# MovieID::Title::Genres
# 
# ## ratings.dat
# UserID::MovieID::Rating::Timestamp

# In[1]:

import pandas as pd

# In[3]:

users_df = pd.read_csv("./ml-1m/users.dat"
                    , sep='::'
                    , header=None
                    , names=["UserID", "Gender", "Age", "Occupation", "Zip-code"])
ocupation_codes = {'ocupation_code': [x for x in range(21)]
                   , 'Occupation_name': ["other or not specified", "academic/educator", "artist"
                                  , "clerical/admin", "college/grad student", "customer service"
                                  , "doctor/health care", "executive/managerial", "farmer"
                                  , "homemaker", "K-12 student", "lawyer", "programmer", "retired"
                                  , "sales/marketing" ,"scientist", "self-employed", "technician/engineer"
                                  , "tradesman/craftsman", "unemployed", "writer"]
                  }
ocupation_codes = pd.DataFrame(ocupation_codes)
users_df = users_df.merge(ocupation_codes, left_on=["Occupation"], right_on=["ocupation_code"], how='left')
users_df = users_df.drop(["Occupation", "ocupation_code"], axis=1).rename(columns={'Occupation_name': 'Occupation'})


# In[4]:

movies_org_df = pd.read_csv("./ml-1m/movies.dat"
                            , sep='::'
                            , header=None
                            , names=["MovieID", "Title", "Genres"])
rows = []
for _, row in movies_org_df.iterrows():
    for gen in row.Genres.split('|'):
        rows.append([row['MovieID'], row['Title'], gen])
movies_df = pd.DataFrame(rows, columns=movies_org_df.columns)


# In[5]:

ratings_df = pd.read_csv("./ml-1m/ratings.dat"
                         , sep='::'
                         , header=None
                         , names=["UserID", "MovieID", "Rating", "Timestamp"])
ratings_df['rating_dt'] = pd.to_datetime(ratings_df['Timestamp'],unit='s')

/usr/local/lib/python3.5/dist-packages/ipykernel/__main__.py:60: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
/usr/local/lib/python3.5/dist-packages/ipykernel/__main__.py:79: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
/usr/local/lib/python3.5/dist-packages/ipykernel/__main__.py:92: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [2]:
print(users_df.columns)
print(movies_df.columns)
print(ratings_df.columns)

Index(['UserID', 'Gender', 'Age', 'Zip-code', 'Occupation'], dtype='object')
Index(['MovieID', 'Title', 'Genres'], dtype='object')
Index(['UserID', 'MovieID', 'Rating', 'Timestamp', 'rating_dt'], dtype='object')

In [3]:
df = ratings_df.merge(users_df, on=['UserID'], how='left').merge(movies_df, on=['MovieID'], how='left')

In [4]:
df.columns

Index(['UserID', 'MovieID', 'Rating', 'Timestamp', 'rating_dt', 'Gender',
       'Age', 'Zip-code', 'Occupation', 'Title', 'Genres'],
      dtype='object')

In [5]:
import datetime as dt
import numpy as np

In [6]:
ratings_2001_Q3 = df[(df.rating_dt < dt.datetime(2000, 10, 1)) & (df.rating_dt >= dt.datetime(2000, 7, 1))]

In [7]:
ratings_2001_Q3[["Rating_mean", "Age_mean"]] = ratings_2001_Q3.groupby(["Genres", "Gender", "Occupation"])[['Rating', 'Age']] \
.transform(np.mean).rename(columns={
    "Rating": "Rating_mean"
    , "Age": "Age_mean"
})

/usr/local/lib/python3.5/dist-packages/pandas/core/frame.py:2440: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [8]:
a = ratings_2001_Q3.groupby(["Genres", "Gender", "Occupation"])[['Rating', 'Age']].agg([np.mean, np.std])
a = a.reset_index()
# a.columns = a.columns.get_level_values(0)
a.columns.values
a.columns = [x[:-1] if x.endswith('_') else x for x in ['_'.join(x) for x in a.columns.values]]
a

,Genres,Gender,Occupation,Rating_mean,Rating_std,Age_mean,Age_std
0,Action,F,K-12 student,3.480769,1.491789,1.000000,0.000000
1,Action,F,academic/educator,3.350866,1.106950,33.192431,11.456293
2,Action,F,artist,3.383436,1.190168,30.049080,11.641762
3,Action,F,clerical/admin,3.722307,0.995569,31.418816,9.880010
4,Action,F,college/grad student,3.470425,1.141231,22.175601,5.954492
5,Action,F,customer service,3.374690,1.252283,32.168734,7.214987
6,Action,F,doctor/health care,3.553776,1.057131,35.269260,9.747967
7,Action,F,executive/managerial,3.794118,1.049907,32.926471,9.324766
8,Action,F,farmer,3.427907,1.141061,51.339535,2.504402
9,Action,F,homemaker,3.530120,1.109723,32.706827,7.427070
10,Action,F,lawyer,3.776000,0.896804,27.944000,10.320903
11,Action,F,other or not specified,3.564368,1.193183,33.706897,12.185468
12,Action,F,programmer,3.532389,1.107765,30.844130,10.722670
13,Action,F,retired,3.629310,1.091709,54.224138,3.514161
14,Action,F,sales/marketing,3.469124,1.056737,25.711155,4.950829
15,Action,F,scientist,3.824503,0.939532,23.566225,3.845079
16,Action,F,self-employed,3.696746,1.074163,39.133136,6.582358
17,Action,F,technician/engineer,3.660959,1.025297,31.046233,9.215707
18,Action,F,tradesman/craftsman,3.951613,0.982259,45.161290,9.957604
19,Action,F,unemployed,3.849315,1.174630,29.643836,7.951886
20,Action,F,writer,3.375221,1.227964,30.130973,12.498249
21,Action,M,K-12 student,3.561587,1.120308,6.382046,10.299397
22,Action,M,academic/educator,3.310091,1.214547,32.049320,10.733668
23,Action,M,artist,3.452092,1.172460,27.934143,8.706021
24,Action,M,clerical/admin,3.459345,1.080623,31.373786,11.831640
25,Action,M,college/grad student,3.471365,1.199221,20.938958,4.331986
26,Action,M,customer service,3.500000,1.111868,29.327973,7.293263
27,Action,M,doctor/health care,3.589928,1.104934,35.564748,10.994880
28,Action,M,executive/managerial,3.566690,1.069307,33.863990,10.704298
29,Action,M,farmer,3.515152,1.349102,26.515152,3.641095
...,...,...,...,...,...,...,...
723,Western,F,programmer,3.660377,1.175771,37.905660,12.072321
724,Western,F,retired,3.720000,0.936305,55.040000,2.244994
725,Western,F,sales/marketing,3.424658,1.039736,26.369863,5.989590
726,Western,F,scientist,3.636364,0.924416,24.000000,4.857983
727,Western,F,self-employed,3.626866,1.241161,39.358209,6.808421
728,Western,F,technician/engineer,3.645161,0.754912,32.935484,9.212077
729,Western,F,tradesman/craftsman,3.333333,1.154701,41.666667,14.433757
730,Western,F,unemployed,4.250000,0.886405,30.750000,7.869471
731,Western,F,writer,3.558824,1.049998,32.676471,12.610050
732,Western,M,K-12 student,3.560000,1.260952,10.120000,12.414105
733,Western,M,academic/educator,3.676393,1.104295,36.533156,12.935585
734,Western,M,artist,3.540881,1.239427,31.477987,10.602563
735,Western,M,clerical/admin,3.671642,1.053288,37.783582,12.095710
736,Western,M,college/grad student,3.497967,1.226820,21.292683,4.580987
737,Western,M,customer service,3.617021,1.032655,30.506383,7.151218
738,Western,M,doctor/health care,3.791262,0.992716,38.621359,11.228115
739,Western,M,executive/managerial,3.717608,1.021384,36.973422,10.574693
740,Western,M,farmer,5.000000,NaN,25.000000,NaN
741,Western,M,homemaker,4.000000,0.000000,25.000000,0.000000
742,Western,M,lawyer,3.695364,1.045584,36.688742,11.033395
743,Western,M,other or not specified,3.660377,1.067747,33.286349,11.060044
744,Western,M,programmer,3.836735,1.038776,29.064626,9.785022
745,Western,M,retired,4.101124,0.812473,51.741573,8.909301
746,Western,M,sales/marketing,3.790404,1.094987,32.805556,10.326815
747,Western,M,scientist,3.863208,1.099403,31.037736,11.489063
748,Western,M,self-employed,3.812672,1.042285,36.214876,9.456682
749,Western,M,technician/engineer,3.715328,1.052195,33.773723,11.154224
750,Western,M,tradesman/craftsman,3.943503,0.951778,38.694915,12.949097
751,Western,M,unemployed,3.426667,1.434831,26.466667,10.523248
752,Western,M,writer,3.778462,1.105610,32.772308,11.316320

In [9]:
#df["Rating_mean"] = df.groupby(["Occupation", "Genres"])['Rating'].transform(np.mean)
#df.sort_values(by="Rating_mean", ascending=False).groupby(["Occupation"]).head(5)
# df.groupby(["Occupation", "Genres"])['Rating'].agg(np.mean).reset_index().rename(columns={"Rating": "Rating_avg"}).sort_values(by="Rating_avg", ascending=False).groupby(["Occupation"]).head(5).sort_values(by=["Occupation", "Rating_avg"])
df.groupby(["Occupation", "Genres"])['Rating'].agg(np.mean).reset_index().rename(columns={"Rating": "Rating_avg"}).sort_values(by="Rating_avg", ascending=False).groupby(["Occupation"]).head(5).sort_values(by=["Occupation", "Rating_avg"])

               Occupation       Genres  Rating_avg
12           K-12 student      Mystery    3.636612
5            K-12 student        Crime    3.687085
7            K-12 student        Drama    3.782167
16           K-12 student          War    3.880144
9            K-12 student    Film-Noir    4.212766
29      academic/educator      Musical    3.701586
25      academic/educator        Drama    3.754293
34      academic/educator          War    3.882950
24      academic/educator  Documentary    3.984887
27      academic/educator    Film-Noir    4.082613
48                 artist      Mystery    3.719645
43                 artist        Drama    3.732216
52                 artist          War    3.859375
42                 artist  Documentary    4.028933
45                 artist    Film-Noir    4.114000
56         clerical/admin    Animation    3.822104
60         clerical/admin  Documentary    3.852632
65         clerical/admin      Musical    3.857049
70         clerical/admin          War    3.927692
63         clerical/admin    Film-Noir    4.075332
77   college/grad student        Crime    3.723450
79   college/grad student        Drama    3.748794
88   college/grad student          War    3.864107
78   college/grad student  Documentary    3.962887
81   college/grad student    Film-Noir    4.039548
97       customer service        Drama    3.739991
106      customer service          War    3.756677
92       customer service    Animation    3.766940
96       customer service  Documentary    3.886598
99       customer service    Film-Noir    4.027356
..                    ...          ...         ...
277             scientist        Drama    3.836070
272             scientist    Animation    3.847805
286             scientist          War    3.933114
276             scientist  Documentary    3.987500
279             scientist    Film-Noir    4.190476
293         self-employed        Crime    3.737569
295         self-employed        Drama    3.791983
304         self-employed          War    3.926107
294         self-employed  Documentary    3.933492
297         self-employed    Film-Noir    4.105583
308   technician/engineer    Animation    3.734375
313   technician/engineer        Drama    3.800158
322   technician/engineer          War    3.939708
312   technician/engineer  Documentary    4.024129
315   technician/engineer    Film-Noir    4.050861
331   tradesman/craftsman        Drama    3.738553
326   tradesman/craftsman    Animation    3.748663
341   tradesman/craftsman      Western    3.753205
340   tradesman/craftsman          War    3.873449
333   tradesman/craftsman    Film-Noir    3.882653
349            unemployed        Drama    3.619308
347            unemployed        Crime    3.634085
358            unemployed          War    3.693103
348            unemployed  Documentary    3.727273
351            unemployed    Film-Noir    4.044444
371                writer      Musical    3.669849
362                writer    Animation    3.699773
376                writer          War    3.798393
366                writer  Documentary    3.967914
369                writer    Film-Noir    4.104603

[105 rows x 3 columns]

In [10]:
# Find top 5 ratings for each occupation
#df = df.groupby(['Occupation', 'Genres']).agg({'Rating': np.mean}).reset_index()
df.assign(Rating_avg=df.groupby(['Occupation', 'Genres'])[['Rating']].transform(np.mean))[['Occupation', 'Genres', 'Rating_avg']] \
.drop_duplicates() \
.sort_values(by="Rating_avg", ascending=False) \
.groupby(["Occupation"]).head(5).sort_values(by=["Occupation", "Rating_avg"])

                 Occupation       Genres  Rating_avg
4960           K-12 student      Mystery    3.636612
91             K-12 student        Crime    3.687085
0              K-12 student        Drama    3.782167
46             K-12 student          War    3.880144
4953           K-12 student    Film-Noir    4.212766
1747      academic/educator      Musical    3.701586
1120      academic/educator        Drama    3.754293
1145      academic/educator          War    3.882950
2130      academic/educator  Documentary    3.984887
1708      academic/educator    Film-Noir    4.082613
15856                artist      Mystery    3.719645
15871                artist        Drama    3.732216
15901                artist          War    3.859375
18144                artist  Documentary    4.028933
18156                artist    Film-Noir    4.114000
4175         clerical/admin    Animation    3.822104
9433         clerical/admin  Documentary    3.852632
4193         clerical/admin      Musical    3.857049
4257         clerical/admin          War    3.927692
4176         clerical/admin    Film-Noir    4.075332
7476   college/grad student        Crime    3.723450
7374   college/grad student        Drama    3.748794
7376   college/grad student          War    3.864107
7478   college/grad student  Documentary    3.962887
7349   college/grad student    Film-Noir    4.039548
21308      customer service        Drama    3.739991
21309      customer service          War    3.756677
56508      customer service    Animation    3.766940
56765      customer service  Documentary    3.886598
21355      customer service    Film-Noir    4.027356
...                     ...          ...         ...
431               scientist        Drama    3.836070
449               scientist    Animation    3.847805
419               scientist          War    3.933114
5701              scientist  Documentary    3.987500
5637              scientist    Film-Noir    4.190476
123           self-employed        Crime    3.737569
116           self-employed        Drama    3.791983
121           self-employed          War    3.926107
46678         self-employed  Documentary    3.933492
279           self-employed    Film-Noir    4.105583
1488    technician/engineer    Animation    3.734375
1475    technician/engineer        Drama    3.800158
1554    technician/engineer          War    3.939708
1548    technician/engineer  Documentary    4.024129
1498    technician/engineer    Film-Noir    4.050861
21252   tradesman/craftsman        Drama    3.738553
21255   tradesman/craftsman    Animation    3.748663
29627   tradesman/craftsman      Western    3.753205
21262   tradesman/craftsman          War    3.873449
29597   tradesman/craftsman    Film-Noir    3.882653
14156            unemployed        Drama    3.619308
18005            unemployed        Crime    3.634085
17992            unemployed          War    3.693103
14187            unemployed  Documentary    3.727273
28666            unemployed    Film-Noir    4.044444
837                  writer      Musical    3.669849
586                  writer    Animation    3.699773
626                  writer          War    3.798393
646                  writer  Documentary    3.967914
587                  writer    Film-Noir    4.104603

[105 rows x 3 columns]

In [11]:
# df.groupby(["Occupation", "Genres"]).transform(lambda x : x if print(type(x)) else x)
# df.groupby(["Occupation", "Genres"])['Rating'].transform(lambda x : x if print(len(x)) else x)

In [16]:
# df.groupby(["Occupation", "Genres"])['Rating'].transform(lambda x: x.mean())
# df.groupby(["Occupation", "Genres"]).transform(lambda x: x.mean())
# df.groupby(["Occupation", "Genres"])['Rating'].apply(lambda x: x.mean())
df.groupby(["Occupation", "Genres"])['Rating'].agg(lambda x: x.mean())

Occupation         Genres
K-12 student       Action         3.497116
                   Adventure      3.425658
                   Animation      3.463956
                   Children's     3.220679
                   Comedy         3.497200
                   Crime          3.687085
                   Documentary    3.581633
                   Drama          3.782167
                   Fantasy        3.298039
                   Film-Noir      4.212766
                   Horror         3.237795
                   Musical        3.556738
                   Mystery        3.636612
                   Romance        3.624415
                   Sci-Fi         3.443795
                   Thriller       3.554131
                   War            3.880144
                   Western        3.513333
academic/educator  Action         3.392063
                   Adventure      3.424278
                   Animation      3.693399
                   Children's     3.459286
                   Comedy         3.519583
                   Crime          3.659342
                   Documentary    3.984887
                   Drama          3.754293
                   Fantasy        3.456388
                   Film-Noir      4.082613
                   Horror         3.104548
                   Musical        3.701586
                                    ...
unemployed         Documentary    3.727273
                   Drama          3.619308
                   Fantasy        3.230900
                   Film-Noir      4.044444
                   Horror         3.136126
                   Musical        3.360771
                   Mystery        3.579734
                   Romance        3.451581
                   Sci-Fi         3.330855
                   Thriller       3.403038
                   War            3.693103
                   Western        3.501779
writer             Action         3.339971
                   Adventure      3.346110
                   Animation      3.699773
                   Children's     3.351440
                   Comedy         3.423004
                   Crime          3.651598
                   Documentary    3.967914
                   Drama          3.653348
                   Fantasy        3.338421
                   Film-Noir      4.104603
                   Horror         3.201472
                   Musical        3.669849
                   Mystery        3.605100
                   Romance        3.469661
                   Sci-Fi         3.390184
                   Thriller       3.461546
                   War            3.798393
                   Western        3.618467
Name: Rating, dtype: float64

In [13]:
df.groupby(["Occupation", "Genres"]).transform(lambda x: x if print(len(x)) else x)

6067
6067
6067
6067
6067
6067
6067
6067
6067
6067
6067
3726
2164
3888
9465
1355
98
6000
1275
235
1905
1410
732
2990
3932
4212
1385
300
18673
10215
3242
5600
29949
6326
794
34769
2763
1852
5079
3847
3730
14433
11795
14723
6006
1715
11277
5986
2163
3375
17982
3957
553
19273
1760
1000
3676
2387
2026
7824
7110
8683
3072
973
7078
3700
1321
2226
11870
2469
285
11533
1043
677
2210
1518
1356
5210
4022
5922
1950
659
35152
17910
7036
11264
48672
10772
970
43546
5225
1770
10383
5442
4740
18913
20352
25302
8205
2091
6493
3228
974
1597
7908
1734
97
6369
934
329
2390
888
718
2649
3789
4238
1348
546
8601
4446
1565
2596
13148
2800
302
14332
1216
705
2576
1646
1469
5971
5146
6781
2572
717
28863
14138
3451
6251
35784
8738
707
38888
3664
1865
7479
3881
4270
15453
16316
20654
7981
2695
868
528
134
261
939
198
10
835
152
41
182
100
82
373
550
497
164
51
2098
1299
693
1281
5065
699
35
4152
409
130
542
694
391
2681
1065
1710
664
191
4793
2563
726
1209
7526
1795
191
7832
610
537
1249
874
920
2989
2776
3632
1585
535
32957
16919
5583
9572
46500
10460
1155
45377
4621
2287
11669
5371
5278
18821
19590
24797
8289
2632
17136
9052
2704
3904
19697
4458
398
18574
2315
1120
4240
2128
2222
7938
12279
11746
4236
1068
2773
1618
328
636
4340
985
102
6084
323
416
719
592
782
2183
1822
2278
1341
435
13559
6538
1741
2881
17898
4382
304
17426
1600
833
3312
1738
2068
7591
7503
10169
3485
1024
6484
3451
1025
1580
7771
1779
160
8345
981
462
1482
902
908
3241
4245
4296
1824
519
11863
6034
1613
2715
15787
3620
421
16489
1398
824
3757
1705
1849
6617
7024
8945
3478
1146
23324
11939
3264
5261
24554
5877
373
22848
3043
1278
5939
2721
2967
9369
15440
15419
5407
1645
3188
1801
374
764
4172
1029
75
3691
480
196
1721
395
480
1335
1926
2482
806
312
3706
1896
544
1054
5461
1197
132
4941
589
270
1528
571
602
1993
2421
2831
870
281
12504
6966
2648
4271
22092
4911
748
23225
1900
1434
4348
2723
2588
8949
8191
10363
3859
1148

,UserID,MovieID,Rating,Timestamp,rating_dt,Gender,Age,Zip-code,Title
0,1,1193,5,978300760,2000-12-31 22:12:40,F,1,48067,One Flew Over the Cuckoo's Nest (1975)
1,1,661,3,978302109,2000-12-31 22:35:09,F,1,48067,James and the Giant Peach (1996)
2,1,661,3,978302109,2000-12-31 22:35:09,F,1,48067,James and the Giant Peach (1996)
3,1,661,3,978302109,2000-12-31 22:35:09,F,1,48067,James and the Giant Peach (1996)
4,1,914,3,978301968,2000-12-31 22:32:48,F,1,48067,My Fair Lady (1964)
5,1,914,3,978301968,2000-12-31 22:32:48,F,1,48067,My Fair Lady (1964)
6,1,3408,4,978300275,2000-12-31 22:04:35,F,1,48067,Erin Brockovich (2000)
7,1,2355,5,978824291,2001-01-06 23:38:11,F,1,48067,"Bug's Life, A (1998)"
8,1,2355,5,978824291,2001-01-06 23:38:11,F,1,48067,"Bug's Life, A (1998)"
9,1,2355,5,978824291,2001-01-06 23:38:11,F,1,48067,"Bug's Life, A (1998)"
10,1,1197,3,978302268,2000-12-31 22:37:48,F,1,48067,"Princess Bride, The (1987)"
11,1,1197,3,978302268,2000-12-31 22:37:48,F,1,48067,"Princess Bride, The (1987)"
12,1,1197,3,978302268,2000-12-31 22:37:48,F,1,48067,"Princess Bride, The (1987)"
13,1,1197,3,978302268,2000-12-31 22:37:48,F,1,48067,"Princess Bride, The (1987)"
14,1,1287,5,978302039,2000-12-31 22:33:59,F,1,48067,Ben-Hur (1959)
15,1,1287,5,978302039,2000-12-31 22:33:59,F,1,48067,Ben-Hur (1959)
16,1,1287,5,978302039,2000-12-31 22:33:59,F,1,48067,Ben-Hur (1959)
17,1,2804,5,978300719,2000-12-31 22:11:59,F,1,48067,"Christmas Story, A (1983)"
18,1,2804,5,978300719,2000-12-31 22:11:59,F,1,48067,"Christmas Story, A (1983)"
19,1,594,4,978302268,2000-12-31 22:37:48,F,1,48067,Snow White and the Seven Dwarfs (1937)
20,1,594,4,978302268,2000-12-31 22:37:48,F,1,48067,Snow White and the Seven Dwarfs (1937)
21,1,594,4,978302268,2000-12-31 22:37:48,F,1,48067,Snow White and the Seven Dwarfs (1937)
22,1,919,4,978301368,2000-12-31 22:22:48,F,1,48067,"Wizard of Oz, The (1939)"
23,1,919,4,978301368,2000-12-31 22:22:48,F,1,48067,"Wizard of Oz, The (1939)"
24,1,919,4,978301368,2000-12-31 22:22:48,F,1,48067,"Wizard of Oz, The (1939)"
25,1,919,4,978301368,2000-12-31 22:22:48,F,1,48067,"Wizard of Oz, The (1939)"
26,1,595,5,978824268,2001-01-06 23:37:48,F,1,48067,Beauty and the Beast (1991)
27,1,595,5,978824268,2001-01-06 23:37:48,F,1,48067,Beauty and the Beast (1991)
28,1,595,5,978824268,2001-01-06 23:37:48,F,1,48067,Beauty and the Beast (1991)
29,1,938,4,978301752,2000-12-31 22:29:12,F,1,48067,Gigi (1958)
...,...,...,...,...,...,...,...,...,...
2101785,6040,541,4,956715288,2000-04-26 02:14:48,M,25,11106,Blade Runner (1982)
2101786,6040,541,4,956715288,2000-04-26 02:14:48,M,25,11106,Blade Runner (1982)
2101787,6040,1077,5,964828799,2000-07-28 23:59:59,M,25,11106,Sleeper (1973)
2101788,6040,1077,5,964828799,2000-07-28 23:59:59,M,25,11106,Sleeper (1973)
2101789,6040,1079,2,956715648,2000-04-26 02:20:48,M,25,11106,"Fish Called Wanda, A (1988)"
2101790,6040,549,4,956704746,2000-04-25 23:19:06,M,25,11106,Thirty-Two Short Films About Glenn Gould (1993)
2101791,6040,2020,3,956715288,2000-04-26 02:14:48,M,25,11106,Dangerous Liaisons (1988)
2101792,6040,2020,3,956715288,2000-04-26 02:14:48,M,25,11106,Dangerous Liaisons (1988)
2101793,6040,2021,3,956716374,2000-04-26 02:32:54,M,25,11106,Dune (1984)
2101794,6040,2021,3,956716374,2000-04-26 02:32:54,M,25,11106,Dune (1984)
2101795,6040,2022,5,956716207,2000-04-26 02:30:07,M,25,11106,"Last Temptation of Christ, The (1988)"
2101796,6040,2028,5,956704519,2000-04-25 23:15:19,M,25,11106,Saving Private Ryan (1998)
2101797,6040,2028,5,956704519,2000-04-25 23:15:19,M,25,11106,Saving Private Ryan (1998)
2101798,6040,2028,5,956704519,2000-04-25 23:15:19,M,25,11106,Saving Private Ryan (1998)
2101799,6040,1080,4,957717322,2000-05-07 16:35:22,M,25,11106,Monty Python's Life of Brian (1979)
2101800,6040,1089,4,956704996,2000-04-25 23:23:16,M,25,11106,Reservoir Dogs (1992)
2101801,6040,1089,4,956704996,2000-04-25 23:23:16,M,25,11106,Reservoir Dogs (1992)
2101802,6040,1090,3,956715518,2000-04-26 02:18:38,M,25,11106,Platoon (1986)
2101803,6040,1090,3,956715518,2000-04-26 02:18:38,M,25,11106,Platoon (1986)
2101804,6040,1091,1,956716541,2000-04-26 02:35:41,M,25,11106,Weekend at Bernie's (1989)
2101805,6040,1094,5,956704887,2000-04-25 23:21:27,M,25,11106,"Crying Game, The (1992)"
2101806,6040,1094,5,956704887,2000-04-25 23:21:27,M,25,11106,"Crying Game, The (1992)"
2101807,6040,1094,5,956704887,2000-04-25 23:21:27,M,25,11106,"Crying Game, The (1992)"
2101808,6040,562,5,956704746,2000-04-25 23:19:06,M,25,11106,Welcome to the Dollhouse (1995)
2101809,6040,562,5,956704746,2000-04-25 23:19:06,M,25,11106,Welcome to the Dollhouse (1995)
2101810,6040,1096,4,956715648,2000-04-26 02:20:48,M,25,11106,Sophie's Choice (1982)
2101811,6040,1097,4,956715569,2000-04-26 02:19:29,M,25,11106,E.T. the Extra-Terrestrial (1982)
2101812,6040,1097,4,956715569,2000-04-26 02:19:29,M,25,11106,E.T. the Extra-Terrestrial (1982)
2101813,6040,1097,4,956715569,2000-04-26 02:19:29,M,25,11106,E.T. the Extra-Terrestrial (1982)
2101814,6040,1097,4,956715569,2000-04-26 02:19:29,M,25,11106,E.T. the Extra-Terrestrial (1982)

In [14]:
df.assign(max_ratings = ratings_df.groupby("MovieID")['Rating'].transform(np.max))

,UserID,MovieID,Rating,Timestamp,rating_dt,Gender,Age,Zip-code,Occupation,Title,Genres,max_ratings
0,1,1193,5,978300760,2000-12-31 22:12:40,F,1,48067,K-12 student,One Flew Over the Cuckoo's Nest (1975),Drama,5.0
1,1,661,3,978302109,2000-12-31 22:35:09,F,1,48067,K-12 student,James and the Giant Peach (1996),Animation,5.0
2,1,661,3,978302109,2000-12-31 22:35:09,F,1,48067,K-12 student,James and the Giant Peach (1996),Children's,5.0
3,1,661,3,978302109,2000-12-31 22:35:09,F,1,48067,K-12 student,James and the Giant Peach (1996),Musical,5.0
4,1,914,3,978301968,2000-12-31 22:32:48,F,1,48067,K-12 student,My Fair Lady (1964),Musical,5.0
5,1,914,3,978301968,2000-12-31 22:32:48,F,1,48067,K-12 student,My Fair Lady (1964),Romance,5.0
6,1,3408,4,978300275,2000-12-31 22:04:35,F,1,48067,K-12 student,Erin Brockovich (2000),Drama,5.0
7,1,2355,5,978824291,2001-01-06 23:38:11,F,1,48067,K-12 student,"Bug's Life, A (1998)",Animation,5.0
8,1,2355,5,978824291,2001-01-06 23:38:11,F,1,48067,K-12 student,"Bug's Life, A (1998)",Children's,5.0
9,1,2355,5,978824291,2001-01-06 23:38:11,F,1,48067,K-12 student,"Bug's Life, A (1998)",Comedy,5.0
10,1,1197,3,978302268,2000-12-31 22:37:48,F,1,48067,K-12 student,"Princess Bride, The (1987)",Action,5.0
11,1,1197,3,978302268,2000-12-31 22:37:48,F,1,48067,K-12 student,"Princess Bride, The (1987)",Adventure,5.0
12,1,1197,3,978302268,2000-12-31 22:37:48,F,1,48067,K-12 student,"Princess Bride, The (1987)",Comedy,5.0
13,1,1197,3,978302268,2000-12-31 22:37:48,F,1,48067,K-12 student,"Princess Bride, The (1987)",Romance,5.0
14,1,1287,5,978302039,2000-12-31 22:33:59,F,1,48067,K-12 student,Ben-Hur (1959),Action,5.0
15,1,1287,5,978302039,2000-12-31 22:33:59,F,1,48067,K-12 student,Ben-Hur (1959),Adventure,5.0
16,1,1287,5,978302039,2000-12-31 22:33:59,F,1,48067,K-12 student,Ben-Hur (1959),Drama,5.0
17,1,2804,5,978300719,2000-12-31 22:11:59,F,1,48067,K-12 student,"Christmas Story, A (1983)",Comedy,5.0
18,1,2804,5,978300719,2000-12-31 22:11:59,F,1,48067,K-12 student,"Christmas Story, A (1983)",Drama,5.0
19,1,594,4,978302268,2000-12-31 22:37:48,F,1,48067,K-12 student,Snow White and the Seven Dwarfs (1937),Animation,5.0
20,1,594,4,978302268,2000-12-31 22:37:48,F,1,48067,K-12 student,Snow White and the Seven Dwarfs (1937),Children's,5.0
21,1,594,4,978302268,2000-12-31 22:37:48,F,1,48067,K-12 student,Snow White and the Seven Dwarfs (1937),Musical,5.0
22,1,919,4,978301368,2000-12-31 22:22:48,F,1,48067,K-12 student,"Wizard of Oz, The (1939)",Adventure,5.0
23,1,919,4,978301368,2000-12-31 22:22:48,F,1,48067,K-12 student,"Wizard of Oz, The (1939)",Children's,5.0
24,1,919,4,978301368,2000-12-31 22:22:48,F,1,48067,K-12 student,"Wizard of Oz, The (1939)",Drama,5.0
25,1,919,4,978301368,2000-12-31 22:22:48,F,1,48067,K-12 student,"Wizard of Oz, The (1939)",Musical,5.0
26,1,595,5,978824268,2001-01-06 23:37:48,F,1,48067,K-12 student,Beauty and the Beast (1991),Animation,5.0
27,1,595,5,978824268,2001-01-06 23:37:48,F,1,48067,K-12 student,Beauty and the Beast (1991),Children's,5.0
28,1,595,5,978824268,2001-01-06 23:37:48,F,1,48067,K-12 student,Beauty and the Beast (1991),Musical,5.0
29,1,938,4,978301752,2000-12-31 22:29:12,F,1,48067,K-12 student,Gigi (1958),Musical,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2101785,6040,541,4,956715288,2000-04-26 02:14:48,M,25,11106,doctor/health care,Blade Runner (1982),Film-Noir,NaN
2101786,6040,541,4,956715288,2000-04-26 02:14:48,M,25,11106,doctor/health care,Blade Runner (1982),Sci-Fi,NaN
2101787,6040,1077,5,964828799,2000-07-28 23:59:59,M,25,11106,doctor/health care,Sleeper (1973),Comedy,NaN
2101788,6040,1077,5,964828799,2000-07-28 23:59:59,M,25,11106,doctor/health care,Sleeper (1973),Sci-Fi,NaN
2101789,6040,1079,2,956715648,2000-04-26 02:20:48,M,25,11106,doctor/health care,"Fish Called Wanda, A (1988)",Comedy,NaN
2101790,6040,549,4,956704746,2000-04-25 23:19:06,M,25,11106,doctor/health care,Thirty-Two Short Films About Glenn Gould (1993),Documentary,NaN
2101791,6040,2020,3,956715288,2000-04-26 02:14:48,M,25,11106,doctor/health care,Dangerous Liaisons (1988),Drama,NaN
2101792,6040,2020,3,956715288,2000-04-26 02:14:48,M,25,11106,doctor/health care,Dangerous Liaisons (1988),Romance,NaN
2101793,6040,2021,3,956716374,2000-04-26 02:32:54,M,25,11106,doctor/health care,Dune (1984),Fantasy,NaN
2101794,6040,2021,3,956716374,2000-04-26 02:32:54,M,25,11106,doctor/health care,Dune (1984),Sci-Fi,NaN
2101795,6040,2022,5,956716207,2000-04-26 02:30:07,M,25,11106,doctor/health care,"Last Temptation of Christ, The (1988)",Drama,NaN
2101796,6040,2028,5,956704519,2000-04-25 23:15:19,M,25,11106,doctor/health care,Saving Private Ryan (1998),Action,NaN
2101797,6040,2028,5,956704519,2000-04-25 23:15:19,M,25,11106,doctor/health care,Saving Private Ryan (1998),Drama,NaN
2101798,6040,2028,5,956704519,2000-04-25 23:15:19,M,25,11106,doctor/health care,Saving Private Ryan (1998),War,NaN
2101799,6040,1080,4,957717322,2000-05-07 16:35:22,M,25,11106,doctor/health care,Monty Python's Life of Brian (1979),Comedy,NaN
2101800,6040,1089,4,956704996,2000-04-25 23:23:16,M,25,11106,doctor/health care,Reservoir Dogs (1992),Crime,NaN
2101801,6040,1089,4,956704996,2000-04-25 23:23:16,M,25,11106,doctor/health care,Reservoir Dogs (1992),Thriller,NaN
2101802,6040,1090,3,956715518,2000-04-26 02:18:38,M,25,11106,doctor/health care,Platoon (1986),Drama,NaN
2101803,6040,1090,3,956715518,2000-04-26 02:18:38,M,25,11106,doctor/health care,Platoon (1986),War,NaN
2101804,6040,1091,1,956716541,2000-04-26 02:35:41,M,25,11106,doctor/health care,Weekend at Bernie's (1989),Comedy,NaN
2101805,6040,1094,5,956704887,2000-04-25 23:21:27,M,25,11106,doctor/health care,"Crying Game, The (1992)",Drama,NaN
2101806,6040,1094,5,956704887,2000-04-25 23:21:27,M,25,11106,doctor/health care,"Crying Game, The (1992)",Romance,NaN
2101807,6040,1094,5,956704887,2000-04-25 23:21:27,M,25,11106,doctor/health care,"Crying Game, The (1992)",War,NaN
2101808,6040,562,5,956704746,2000-04-25 23:19:06,M,25,11106,doctor/health care,Welcome to the Dollhouse (1995),Comedy,NaN
2101809,6040,562,5,956704746,2000-04-25 23:19:06,M,25,11106,doctor/health care,Welcome to the Dollhouse (1995),Drama,NaN
2101810,6040,1096,4,956715648,2000-04-26 02:20:48,M,25,11106,doctor/health care,Sophie's Choice (1982),Drama,NaN
2101811,6040,1097,4,956715569,2000-04-26 02:19:29,M,25,11106,doctor/health care,E.T. the Extra-Terrestrial (1982),Children's,NaN
2101812,6040,1097,4,956715569,2000-04-26 02:19:29,M,25,11106,doctor/health care,E.T. the Extra-Terrestrial (1982),Drama,NaN
2101813,6040,1097,4,956715569,2000-04-26 02:19:29,M,25,11106,doctor/health care,E.T. the Extra-Terrestrial (1982),Fantasy,NaN
2101814,6040,1097,4,956715569,2000-04-26 02:19:29,M,25,11106,doctor/health care,E.T. the Extra-Terrestrial (1982),Sci-Fi,NaN