# Practical Data Transformation and Analysis with Pandas

# Speaker

* Zong-han, Xie

* Majored in physics

* Previously a C++ developer developing simulation software for LCD.

* Currently working for Micron Memory Taiwan, building home-made B.I. system.

* Email: icbm0926@gmail.com

# Sequence
* Running complex SQL code on a SQL server creates heavy loading to the server.

* It is hard to write omplex analysis into a SQL code, you might want to write those code in Python.

* Intended fo people have built a B.I. system on top of Python enviroment ex: Django, flask, Pandas...etc.

* Who wants to exploit the power of Python and transfer their reporting services from SQL-related services (ex: SSRS) to Python.

* This talk mainly focues on the components related to split-apply-combine strategy which is main method for transforming and analyzing tabular data.

# Outline
* Basic Data Structures: 
  - Create Pandas DataFrame
  - Read our demo data
  - Indexing in DataFrame and Pandas Series
  - Assinging data into DataFrame and SettingsWithCopy Warning
* Text Handling with Pandas
  - Using "str" attributes to handle string and using regexp with it
* Merging and Concatenating tables
  - Concept of merging two tables (inner join, left/right join, outer join)
  - Concatenating tables
* Split-Apply-Combine strategy
  - Process Flow
  - GroupBy object
  - GroupBy.transform
  - GroupBy.apply
  - GroupBy.aggregate
* A small example

# Creating a DataFrame

In [9]:
import pandas as pd
pd.DataFrame({'Column_A': ['A1', 'A2', 'A3']
              , 'Column_B': ['A1', 'A2', 'A3']}
             , index=['a', 'b', 'c'])

  Column_A Column_B
a       A1       A1
b       A2       A2
c       A3       A3

# Create a DataFrame from numpy array

In [10]:
import numpy as np
np_array = np.array(np.random.random((5,2)))
pd.DataFrame(np_array, columns=['Column_A', 'Column_B'])

   Column_A  Column_B
0  0.532799  0.515631
1  0.977685  0.476983
2  0.821461  0.488186
3  0.611671  0.793174
4  0.470772  0.520843

# Create a new column for DataFrame

In [11]:
import numpy as np
np_array = np.array(np.random.random((5,2)))
df = pd.DataFrame(np_array, columns=['Column_A', 'Column_B'])
df['column_C'] = pd.Series([1,2,3,4,5])
print(df)

   Column_A  Column_B  column_C
0  0.451639  0.110256         1
1  0.163979  0.829561         2
2  0.718608  0.981952         3
3  0.171740  0.743521         4
4  0.531219  0.759881         5

# Create DataFrame from a file
read in the demo data, data is from MovieLens, ml-1m dataset.

In [12]:
users_df = pd.read_csv("./ml-1m/users.dat"
                    , delimiter='::'
                    , header=None
                    , names=["UserID", "Gender", "Age", "Occupation", "Zip-code"]
                    , engine='python')
users_df.loc[0:3, :]

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460

In [13]:
movies_org_df = pd.read_csv("./ml-1m/movies.dat"
                            , sep='::'
                            , header=None
                            , names=["MovieID", "Title", "Genres"]
                            , engine='python')
movies_org_df.loc[0:3, :]

   MovieID                     Title                        Genres
0        1          Toy Story (1995)   Animation|Children's|Comedy
1        2            Jumanji (1995)  Adventure|Children's|Fantasy
2        3   Grumpier Old Men (1995)                Comedy|Romance
3        4  Waiting to Exhale (1995)                  Comedy|Drama

In [14]:
import datetime as dt
ratings_df = pd.read_csv("./ml-1m/ratings.dat"
                         , sep='::'
                         , header=None
                         , names=["UserID", "MovieID", "Rating", "Timestamp"], engine='python')
ratings_df['rating_dt'] = pd.to_datetime(ratings_df['Timestamp'],unit='s')
ratings_df.loc[0:3, :]

   UserID  MovieID  Rating  Timestamp           rating_dt
0       1     1193       5  978300760 2000-12-31 22:12:40
1       1      661       3  978302109 2000-12-31 22:35:09
2       1      914       3  978301968 2000-12-31 22:32:48
3       1     3408       4  978300275 2000-12-31 22:04:35

# DataFrame column names

In [19]:
print(users_df.columns)
print(movies_org_df.columns)
print(ratings_df.columns)

Index(['UserID', 'Gender', 'Age', 'Occupation', 'Zip-code'], dtype='object')
Index(['MovieID', 'Title', 'Genres'], dtype='object')
Index(['UserID', 'MovieID', 'Rating', 'Timestamp', 'rating_dt'], dtype='object')

# DataFrame row index

In [24]:
print(users_df.index)
print(list(users_df.index)[0:20])

RangeIndex(start=0, stop=6040, step=1)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

# DataFrame Indexing

In [15]:
movies_org_df['Title'][0]

'Toy Story (1995)'

In [25]:
movies_org_df['Title']

0                                        Toy Story (1995)
1                                          Jumanji (1995)
2                                 Grumpier Old Men (1995)
3                                Waiting to Exhale (1995)
4                      Father of the Bride Part II (1995)
5                                             Heat (1995)
6                                          Sabrina (1995)
7                                     Tom and Huck (1995)
8                                     Sudden Death (1995)
9                                        GoldenEye (1995)
10                         American President, The (1995)
11                     Dracula: Dead and Loving It (1995)
12                                           Balto (1995)
13                                           Nixon (1995)
14                                Cutthroat Island (1995)
15                                          Casino (1995)
16                           Sense and Sensibility (1995)
17                                      Four Rooms (1995)
18                  Ace Ventura: When Nature Calls (1995)
19                                     Money Train (1995)
20                                      Get Shorty (1995)
21                                         Copycat (1995)
22                                       Assassins (1995)
23                                          Powder (1995)
24                               Leaving Las Vegas (1995)
25                                         Othello (1995)
26                                    Now and Then (1995)
27                                      Persuasion (1995)
28                      City of Lost Children, The (1995)
29      Shanghai Triad (Yao a yao yao dao waipo qiao) ...
                              ...
3853                             Return of the Fly (1959)
3854                                  Pajama Party (1964)
3855                        Stranger Than Paradise (1984)
3856               Voyage to the Bottom of the Sea (1961)
3857                              Fantastic Voyage (1966)
3858         Abbott and Costello Meet Frankenstein (1948)
3859                                Bank Dick, The (1940)
3860           Creature From the Black Lagoon, The (1954)
3861                       Giant Gila Monster, The (1959)
3862                            Invisible Man, The (1933)
3863                            Killer Shrews, The (1959)
3864                                        Kronos (1957)
3865                                        Kronos (1973)
3866                     Phantom of the Opera, The (1943)
3867                                       Runaway (1984)
3868                   Slumber Party Massacre, The (1982)
3869                Slumber Party Massacre II, The (1987)
3870               Slumber Party Massacre III, The (1990)
3871                       Sorority House Massacre (1986)
3872                    Sorority House Massacre II (1990)
3873                                    Bamboozled (2000)
3874                                       Bootmen (2000)
3875                            Digimon: The Movie (2000)
3876                                    Get Carter (2000)
3877                                    Get Carter (1971)
3878                              Meet the Parents (2000)
3879                           Requiem for a Dream (2000)
3880                                     Tigerland (2000)
3881                              Two Family House (2000)
3882                                Contender, The (2000)
Name: Title, dtype: object

In [8]:
# Make sure that you input a "list" of column names
users_df[['UserID', 'Gender', 'Age', 'Occupation', 'Zip-code']]

      UserID Gender  Age  Occupation Zip-code
0          1      F    1          10    48067
1          2      M   56          16    70072
2          3      M   25          15    55117
3          4      M   45           7    02460
4          5      M   25          20    55455
5          6      F   50           9    55117
6          7      M   35           1    06810
7          8      M   25          12    11413
8          9      M   25          17    61614
9         10      F   35           1    95370
10        11      F   25           1    04093
11        12      M   25          12    32793
12        13      M   45           1    93304
13        14      M   35           0    60126
14        15      M   25           7    22903
15        16      F   35           0    20670
16        17      M   50           1    95350
17        18      F   18           3    95825
18        19      M    1          10    48073
19        20      M   25          14    55113
20        21      M   18          16    99353
21        22      M   18          15    53706
22        23      M   35           0    90049
23        24      F   25           7    10023
24        25      M   18           4    01609
25        26      M   25           7    23112
26        27      M   25          11    19130
27        28      F   25           1    14607
28        29      M   35           7    33407
29        30      F   35           7    19143
...      ...    ...  ...         ...      ...
6010    6011      M   35          15    80538
6011    6012      M   35          15    02871
6012    6013      F   25          20    32301
6013    6014      M   45           1    80634
6014    6015      F   25           9    80013
6015    6016      M   45           1    37209
6016    6017      F   35           7    21117
6017    6018      M   35           1    48906
6018    6019      M   25           0    10024
6019    6020      M   50          16    10023
6020    6021      M   25          12    08876
6021    6022      M   25          17    57006
6022    6023      M   25           0    43213
6023    6024      M   25          12    53705
6024    6025      F   25           1    32607
6025    6026      M   35           6    11210
6026    6027      M   18           4    20742
6027    6028      M   18           4    94133
6028    6029      F   25           1    23185
6029    6030      M   25          17    32618
6030    6031      F   18           0    45123
6031    6032      M   45           7    55108
6032    6033      M   50          13    78232
6033    6034      M   25          14    94117
6034    6035      F   25           1    78734
6035    6036      F   25          15    32603
6036    6037      F   45           1    76006
6037    6038      F   56           1    14706
6038    6039      F   45           0    01060
6039    6040      M   25           6    11106

[6040 rows x 5 columns]

In [26]:
# This is frequently happened typo
users_df['UserID', 'Gender', 'Age', 'Occupation', 'Zip-code']

KeyError: ('UserID', 'Gender', 'Age', 'Occupation', 'Zip-code')

In [27]:
# One can choose a index by treating it like an attribute of this DataFrame
movies_org_df.Title

0                                        Toy Story (1995)
1                                          Jumanji (1995)
2                                 Grumpier Old Men (1995)
3                                Waiting to Exhale (1995)
4                      Father of the Bride Part II (1995)
5                                             Heat (1995)
6                                          Sabrina (1995)
7                                     Tom and Huck (1995)
8                                     Sudden Death (1995)
9                                        GoldenEye (1995)
10                         American President, The (1995)
11                     Dracula: Dead and Loving It (1995)
12                                           Balto (1995)
13                                           Nixon (1995)
14                                Cutthroat Island (1995)
15                                          Casino (1995)
16                           Sense and Sensibility (1995)
17                                      Four Rooms (1995)
18                  Ace Ventura: When Nature Calls (1995)
19                                     Money Train (1995)
20                                      Get Shorty (1995)
21                                         Copycat (1995)
22                                       Assassins (1995)
23                                          Powder (1995)
24                               Leaving Las Vegas (1995)
25                                         Othello (1995)
26                                    Now and Then (1995)
27                                      Persuasion (1995)
28                      City of Lost Children, The (1995)
29      Shanghai Triad (Yao a yao yao dao waipo qiao) ...
                              ...
3853                             Return of the Fly (1959)
3854                                  Pajama Party (1964)
3855                        Stranger Than Paradise (1984)
3856               Voyage to the Bottom of the Sea (1961)
3857                              Fantastic Voyage (1966)
3858         Abbott and Costello Meet Frankenstein (1948)
3859                                Bank Dick, The (1940)
3860           Creature From the Black Lagoon, The (1954)
3861                       Giant Gila Monster, The (1959)
3862                            Invisible Man, The (1933)
3863                            Killer Shrews, The (1959)
3864                                        Kronos (1957)
3865                                        Kronos (1973)
3866                     Phantom of the Opera, The (1943)
3867                                       Runaway (1984)
3868                   Slumber Party Massacre, The (1982)
3869                Slumber Party Massacre II, The (1987)
3870               Slumber Party Massacre III, The (1990)
3871                       Sorority House Massacre (1986)
3872                    Sorority House Massacre II (1990)
3873                                    Bamboozled (2000)
3874                                       Bootmen (2000)
3875                            Digimon: The Movie (2000)
3876                                    Get Carter (2000)
3877                                    Get Carter (1971)
3878                              Meet the Parents (2000)
3879                           Requiem for a Dream (2000)
3880                                     Tigerland (2000)
3881                              Two Family House (2000)
3882                                Contender, The (2000)
Name: Title, dtype: object

In [28]:
movies_org_df.Title[0]

'Toy Story (1995)'

In [17]:
movies_org_df.Title.loc[0]

'Toy Story (1995)'

In [18]:
movies_org_df.Title.iloc[0]

'Toy Story (1995)'

In [9]:
print(users_df['Occupation'][0:10])

0    10
1    16
2    15
3     7
4    20
5     9
6     1
7    12
8    17
9     1
Name: Occupation, dtype: int64

# Label-base vs. location base indexing
Get data row through its label index or its position inside DataFrame

In [49]:
# Through the position of rows in DataFrame
df = ratings_df.sort_values(by="rating_dt", ascending=False)
df.iloc[0:10, :]

        UserID  MovieID  Rating   Timestamp           rating_dt
825603    4958     1924       4  1046454590 2003-02-28 17:49:50
825724    4958     3264       4  1046454548 2003-02-28 17:49:08
825731    4958     2634       3  1046454548 2003-02-28 17:49:08
825438    4958     1407       5  1046454443 2003-02-28 17:47:23
825793    4958     2399       1  1046454338 2003-02-28 17:45:38
825526    4958     3489       4  1046454320 2003-02-28 17:45:20
825877    4958     2043       1  1046454282 2003-02-28 17:44:42
825497    4958     2453       4  1046454260 2003-02-28 17:44:20
879288    5312     3267       4  1046444711 2003-02-28 15:05:11
983967    5948     3098       4  1046437932 2003-02-28 13:12:12

In [50]:
# Through the position of rows in DataFrame
df = ratings_df.sort_values(by="rating_dt", ascending=False)
df.iloc[0:10, [0,1,2,3]]

        UserID  MovieID  Rating   Timestamp
825603    4958     1924       4  1046454590
825724    4958     3264       4  1046454548
825731    4958     2634       3  1046454548
825438    4958     1407       5  1046454443
825793    4958     2399       1  1046454338
825526    4958     3489       4  1046454320
825877    4958     2043       1  1046454282
825497    4958     2453       4  1046454260
879288    5312     3267       4  1046444711
983967    5948     3098       4  1046437932

In [52]:
# through DataFrame index
df = ratings_df.sort_values(by="rating_dt", ascending=False)
df.loc[0:100, :]

        UserID  MovieID  Rating  Timestamp           rating_dt
0            1     1193       5  978300760 2000-12-31 22:12:40
21           1      720       3  978300760 2000-12-31 22:12:40
44           1      260       4  978300760 2000-12-31 22:12:40
7            1     2804       5  978300719 2000-12-31 22:11:59
47           1     1207       4  978300719 2000-12-31 22:11:59
3            1     3408       4  978300275 2000-12-31 22:04:35
2493        19     1090       3  978300207 2000-12-31 22:03:27
2399        19     2841       5  978300188 2000-12-31 22:03:08
66           2     1687       3  978300174 2000-12-31 22:02:54
87           2     1544       4  978300174 2000-12-31 22:02:54
136          2     1917       3  978300174 2000-12-31 22:02:54
73           2      434       2  978300174 2000-12-31 22:02:54
36           1     1836       5  978300172 2000-12-31 22:02:52
2496        19     3273       3  978300170 2000-12-31 22:02:50
2278        19     1407       4  978300170 2000-12-31 22:02:50
2451        19     1717       2  978300170 2000-12-31 22:02:50
2449        19       76       1  978300170 2000-12-31 22:02:50
2248        19     2622       5  978300144 2000-12-31 22:02:24
133          2       95       2  978300143 2000-12-31 22:02:23
80           2      292       3  978300123 2000-12-31 22:02:03
74           2     2126       3  978300123 2000-12-31 22:02:03
24           1     2340       3  978300103 2000-12-31 22:01:43
167          2     2002       5  978300100 2000-12-31 22:01:40
129          2      736       4  978300100 2000-12-31 22:01:40
92           2     3257       3  978300073 2000-12-31 22:01:13
27           1     1721       4  978300055 2000-12-31 22:00:55
22           1     1270       5  978300055 2000-12-31 22:00:55
37           1     1022       5  978300055 2000-12-31 22:00:55
60           2     2628       3  978300051 2000-12-31 22:00:51
99           2     1690       3  978300051 2000-12-31 22:00:51
...        ...      ...     ...        ...                 ...
223315    1354     1473       3  978299072 2000-12-31 21:44:32
223371    1354     1804       3  978299072 2000-12-31 21:44:32
223376    1354     2609       5  978299053 2000-12-31 21:44:13
110          2     2312       3  978299046 2000-12-31 21:44:06
111          2      265       4  978299026 2000-12-31 21:43:46
54           2     3068       4  978299000 2000-12-31 21:43:20
223653    1354     1586       4  978298971 2000-12-31 21:42:51
223336    1354     2437       2  978298971 2000-12-31 21:42:51
223479    1354      282       3  978298971 2000-12-31 21:42:51
124          2     3334       4  978298958 2000-12-31 21:42:38
101          2     2852       3  978298958 2000-12-31 21:42:38
68           2     3578       5  978298958 2000-12-31 21:42:38
223677    1354     3500       1  978298951 2000-12-31 21:42:31
162          2     3451       4  978298924 2000-12-31 21:42:04
223274    1354     2231       3  978298918 2000-12-31 21:41:58
223447    1354     1876       2  978298918 2000-12-31 21:41:58
61           2     1103       3  978298905 2000-12-31 21:41:45
83           2      902       2  978298905 2000-12-31 21:41:45
223633    1354     3163       3  978298899 2000-12-31 21:41:39
223421    1354     1840       4  978298899 2000-12-31 21:41:39
166          2     2728       3  978298881 2000-12-31 21:41:21
174          2     1968       2  978298881 2000-12-31 21:41:21
223592    1354      851       4  978298865 2000-12-31 21:41:05
85           2     1259       5  978298841 2000-12-31 21:40:41
142          2     1954       5  978298841 2000-12-31 21:40:41
169          2     1784       5  978298841 2000-12-31 21:40:41
223379    1354     3270       4  978298829 2000-12-31 21:40:29
223608    1354     1399       3  978298829 2000-12-31 21:40:29
223522    1354     2106       5  978298829 2000-12-31 21:40:29
100          2     3654       3  978298814 2000-12-31 21:40:14

[186 rows x 5 columns]

## SQL where statement equivalence
SQL: 
```SQL=
select * 
from ratings_df
where Rating < 3
```
Pandas:

In [45]:
ratings_df[ratings_df.Rating < 3].iloc[0:10, :]

     UserID  MovieID  Rating  Timestamp           rating_dt
67        2     1213       2  978298458 2000-12-31 21:34:18
73        2      434       2  978300174 2000-12-31 22:02:54
75        2     3107       2  978300002 2000-12-31 22:00:02
83        2      902       2  978298905 2000-12-31 21:41:45
91        2     3256       2  978299839 2000-12-31 21:57:19
114       2     3699       2  978299173 2000-12-31 21:46:13
125       2     2427       2  978299913 2000-12-31 21:58:33
133       2       95       2  978300143 2000-12-31 22:02:23
148       2       21       1  978299839 2000-12-31 21:57:19
151       2     1090       2  978298580 2000-12-31 21:36:20

SQL: 
```SQL=
select * 
from ratings_df
where rating_dt < '2003-02-01' and rating_dt >= '2003-01-01'
```
Pandas:

In [62]:
import datetime as dt
df = ratings_df[(ratings_df.rating_dt 
                 < dt.datetime(2003, 2, 1)) &
        (ratings_df.rating_dt >= dt.datetime(2003, 1, 1))]
print(df[df.rating_dt == df.rating_dt.max()])
print("--------------------------------------------------------------------")
print(df[df.rating_dt == df.rating_dt.min()])

        UserID  MovieID  Rating   Timestamp           rating_dt
329894    1946      144       4  1044033786 2003-01-31 17:23:06
329916    1946     1220       4  1044033786 2003-01-31 17:23:06
--------------------------------------------------------------------
        UserID  MovieID  Rating   Timestamp           rating_dt
172198    1088     3900       3  1041384785 2003-01-01 01:33:05

## Deprecated indexing method

In [18]:
users_df['Occupation'].ix[0:10]

0     10
1     16
2     15
3      7
4     20
5      9
6      1
7     12
8     17
9      1
10     1
Name: Occupation, dtype: int64

<font color='#c94c4c'> Indexing with .ix attribute has beedn deprecated since Pandas 0.20.0 </font>

<pre>.ix offers a lot of magic on the inference of what the user wants to do. To wit, .ix can decide to index positionally OR via labels depending on the data type of the index. This has caused quite a bit of user confusion over the years. 

The recommended methods of indexing are:

.loc if you want to label index
.iloc if you want to positionally index.
</pre>

# Change data in DataFrame

In [43]:
copy_users_df = users_df.copy()
copy_users_df = copy_users_df.iloc[0:5, :]
print(copy_users_df['Gender'])
copy_users_df['Gender'][2] = 'F'
print(copy_users_df['Gender'])

0    F
1    M
2    M
3    M
4    M
5    F
Name: Gender, dtype: object
0    F
1    M
2    F
3    M
4    M
5    F
Name: Gender, dtype: object

## Following assignment doesn't work
It gives you "SettingWithCopyWarning"

In [47]:
copy_users_df = users_df.copy()
copy_users_df[copy_users_df.UserID < 10]['Gender'] = 'F'
print(copy_users_df[copy_users_df.UserID < 10])

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455
5       6      F   50           9    55117
6       7      M   35           1    06810
7       8      M   25          12    11413
8       9      M   25          17    61614

/usr/local/lib/python3.5/dist-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

# SettingsWithCopy Warning and Chained Indexing
* http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

* If one is using chained indexing in assignment statement, there is an extra __getitem__ funtion call under the hood.

* __getitem__ returns a copy or a view depending on memory layout of the array, about which pandas makes no guarantees.

* To successfully changing data in the DataFrame, using "loc" or "iloc" to avoid chained indexing.

# Text Handling

In [18]:
movies_org_df.ix[0:10]

    MovieID                               Title                        Genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller
10       11      American President, The (1995)          Comedy|Drama|Romance

# Split Genres and put into rows

In [33]:
rows = []
for _, row in movies_org_df.iterrows():
    for gen in row.Genres.split('|'):
        rows.append([row['MovieID'], row['Title'], gen])
movies_df = pd.DataFrame(rows, columns=movies_org_df.columns)

# Merge Data and Concat Data

* Pandas.merge and Pandas.concat

* Pandas.merge is analog to join in SQL (inner, left, rught, outer join)

* Pandas.concat is analog to "union all" in SQL.

# Merge the demo data together

In [36]:
merged_df = ratings_df.merge(users_df
                             , on=['UserID']
                             , how='left') \
                      .merge(movies_df
                             , on=['MovieID']
                             , how='left')
merged_df.ix[0:10]

,UserID,MovieID,Rating,Timestamp,rating_dt,Gender,Age,Occupation,Zip-code,Title,Genres
0,1,1193,5,978300760,2000-12-31 22:12:40,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,1,661,3,978302109,2000-12-31 22:35:09,F,1,10,48067,James and the Giant Peach (1996),Animation
2,1,661,3,978302109,2000-12-31 22:35:09,F,1,10,48067,James and the Giant Peach (1996),Children's
3,1,661,3,978302109,2000-12-31 22:35:09,F,1,10,48067,James and the Giant Peach (1996),Musical
4,1,914,3,978301968,2000-12-31 22:32:48,F,1,10,48067,My Fair Lady (1964),Musical
5,1,914,3,978301968,2000-12-31 22:32:48,F,1,10,48067,My Fair Lady (1964),Romance
6,1,3408,4,978300275,2000-12-31 22:04:35,F,1,10,48067,Erin Brockovich (2000),Drama
7,1,2355,5,978824291,2001-01-06 23:38:11,F,1,10,48067,"Bug's Life, A (1998)",Animation
8,1,2355,5,978824291,2001-01-06 23:38:11,F,1,10,48067,"Bug's Life, A (1998)",Children's
9,1,2355,5,978824291,2001-01-06 23:38:11,F,1,10,48067,"Bug's Life, A (1998)",Comedy
10,1,1197,3,978302268,2000-12-31 22:37:48,F,1,10,48067,"Princess Bride, The (1987)",Action

# Split - Apply - Combine Strategy

The basic cooncept of split-apply-combine strategy 

* Split
    - Split original data into groups

* Apply
    - Apply functions to data within each group independently

* Combine
    - Merge results into a data structure

# Data Aggregation

```
select 
...
AVG(Ratings.Rating) as "avg_ratings"
...
from Ratings
group by Ratings.MovieId
```

```
df.assign(avg_ratings = ratings_df.groupby("MovieID")['Rating'].transform(np.mean))
```

* Data aggregation in Pandas uses GroupBy.apply, GroupBy.transform and GroupBy.aggregate.

# GroupBy objects

In [8]:
merged_df.groupby(["Occupation", "Genres"])

# See what's in the GroupBy objects

In [9]:
grouped_ratings = merged_df.groupby(["Occupation", "Genres"])
for key, group_df in grouped_ratings:
    print("group keys: " + str(key))
    print(group_df.iloc[:5])
    break

group keys: ('K-12 student', 'Action')
     UserID  MovieID  Rating  Timestamp           rating_dt Gender  Age  \
10        1     1197       3  978302268 2000-12-31 22:37:48      F    1
14        1     1287       5  978302039 2000-12-31 22:33:59      F    1
90        1     2692       4  978301570 2000-12-31 22:26:10      F    1
93        1      260       4  978300760 2000-12-31 22:12:40      F    1
104       1     2028       5  978301619 2000-12-31 22:26:59      F    1

    Zip-code    Occupation                                      Title  Genres
10     48067  K-12 student                 Princess Bride, The (1987)  Action
14     48067  K-12 student                             Ben-Hur (1959)  Action
90     48067  K-12 student           Run Lola Run (Lola rennt) (1998)  Action
93     48067  K-12 student  Star Wars: Episode IV - A New Hope (1977)  Action
104    48067  K-12 student                 Saving Private Ryan (1998)  Action

# Let's do Split-Apply-Combine manually

In [10]:
results = {'Occupation': [], 'Genres': [], 'Rating_mean':[]}
grouped_ratings = merged_df.groupby(["Occupation", "Genres"])  # split
for key, group_df in grouped_ratings:
    results['Occupation'].append(key[0])
    results['Genres'].append(key[1])
    results['Rating_mean'].append(group_df.Rating.mean())  # apply
pd.DataFrame(results).ix[0:10]  # combine

         Genres    Occupation  Rating_mean
0        Action  K-12 student     3.497116
1     Adventure  K-12 student     3.425658
2     Animation  K-12 student     3.463956
3    Children's  K-12 student     3.220679
4        Comedy  K-12 student     3.497200
5         Crime  K-12 student     3.687085
6   Documentary  K-12 student     3.581633
7         Drama  K-12 student     3.782167
8       Fantasy  K-12 student     3.298039
9     Film-Noir  K-12 student     4.212766
10       Horror  K-12 student     3.237795

In [30]:
import numpy as np
tmp = merged_df[merged_df.Occupation == 'K-12 student'].copy()
tmp.loc[:,'Rating_mean'] = tmp.groupby(["Occupation", "Genres"])['Rating'].transform(np.mean)
print(tmp[['Occupation', 'Genres', 'Rating_mean']].sort_values(by='Genres').iloc[1:10])

           Occupation  Genres  Rating_mean
804564   K-12 student  Action     3.497116
363454   K-12 student  Action     3.497116
1806560  K-12 student  Action     3.497116
772492   K-12 student  Action     3.497116
1806556  K-12 student  Action     3.497116
659674   K-12 student  Action     3.497116
706974   K-12 student  Action     3.497116
827117   K-12 student  Action     3.497116
363460   K-12 student  Action     3.497116

** GroupBy.transform() returns a Pandas Series with the same index as those in original DataFrame **

** Therefore, it's easy to combine data back to the original data. **

In [12]:
print(tmp[['Occupation', 'Genres', 'Rating_mean']].sort_values(by='Genres').drop_duplicates().iloc[0:10])

           Occupation       Genres  Rating_mean
418625   K-12 student       Action     3.497116
831363   K-12 student    Adventure     3.425658
136334   K-12 student    Animation     3.463956
453973   K-12 student   Children's     3.220679
789324   K-12 student       Comedy     3.497200
692103   K-12 student        Crime     3.687085
1931149  K-12 student  Documentary     3.581633
790387   K-12 student        Drama     3.782167
521989   K-12 student      Fantasy     3.298039
364059   K-12 student    Film-Noir     4.212766

In [13]:
merged_df.groupby(['Occupation', 'Genres'])['Rating'].mean()

Occupation         Genres
K-12 student       Action         3.497116
                   Adventure      3.425658
                   Animation      3.463956
                   Children's     3.220679
                   Comedy         3.497200
                   Crime          3.687085
                   Documentary    3.581633
                   Drama          3.782167
                   Fantasy        3.298039
                   Film-Noir      4.212766
                   Horror         3.237795
                   Musical        3.556738
                   Mystery        3.636612
                   Romance        3.624415
                   Sci-Fi         3.443795
                   Thriller       3.554131
                   War            3.880144
                   Western        3.513333
academic/educator  Action         3.392063
                   Adventure      3.424278
                   Animation      3.693399
                   Children's     3.459286
                   Comedy         3.519583
                   Crime          3.659342
                   Documentary    3.984887
                   Drama          3.754293
                   Fantasy        3.456388
                   Film-Noir      4.082613
                   Horror         3.104548
                   Musical        3.701586
                                    ...
unemployed         Documentary    3.727273
                   Drama          3.619308
                   Fantasy        3.230900
                   Film-Noir      4.044444
                   Horror         3.136126
                   Musical        3.360771
                   Mystery        3.579734
                   Romance        3.451581
                   Sci-Fi         3.330855
                   Thriller       3.403038
                   War            3.693103
                   Western        3.501779
writer             Action         3.339971
                   Adventure      3.346110
                   Animation      3.699773
                   Children's     3.351440
                   Comedy         3.423004
                   Crime          3.651598
                   Documentary    3.967914
                   Drama          3.653348
                   Fantasy        3.338421
                   Film-Noir      4.104603
                   Horror         3.201472
                   Musical        3.669849
                   Mystery        3.605100
                   Romance        3.469661
                   Sci-Fi         3.390184
                   Thriller       3.461546
                   War            3.798393
                   Western        3.618467
Name: Rating, dtype: float64

In [14]:
merged_df.groupby(['Occupation', 'Genres'])['Rating'].agg(np.mean).ix['K-12 student']

Genres
Action         3.497116
Adventure      3.425658
Animation      3.463956
Children's     3.220679
Comedy         3.497200
Crime          3.687085
Documentary    3.581633
Drama          3.782167
Fantasy        3.298039
Film-Noir      4.212766
Horror         3.237795
Musical        3.556738
Mystery        3.636612
Romance        3.624415
Sci-Fi         3.443795
Thriller       3.554131
War            3.880144
Western        3.513333
Name: Rating, dtype: float64

In [15]:
merged_df.groupby(['Occupation', 'Genres'])['Rating'].agg(np.mean).reset_index().ix[0:5]

     Occupation      Genres    Rating
0  K-12 student      Action  3.497116
1  K-12 student   Adventure  3.425658
2  K-12 student   Animation  3.463956
3  K-12 student  Children's  3.220679
4  K-12 student      Comedy  3.497200
5  K-12 student       Crime  3.687085

In [27]:
merged_df.groupby(['Occupation', 'Genres']).agg({'Rating': np.mean}).reset_index().ix[0:5]

     Occupation      Genres    Rating
0  K-12 student      Action  3.497116
1  K-12 student   Adventure  3.425658
2  K-12 student   Animation  3.463956
3  K-12 student  Children's  3.220679
4  K-12 student      Comedy  3.497200
5  K-12 student       Crime  3.687085

In [44]:
#merged_df.groupby(['Occupation', 'Genres']).agg({'Rating': 'quantile(0.25)'}).reset_index()
merged_df.groupby(['Occupation', 'Genres']).agg({'Rating': 'quantile(0.25)'}).reset_index()

AttributeError: 'SeriesGroupBy' object has no attribute 'quantile(0.25)'

# A simple example